.section-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;

    .content-wraper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
    
        .content-table {
            width: 84vw;
            min-width: 400px;
            font-size: 0.9rem;
    
            margin-top: 3vh;
            
            border-collapse: collapse;
            box-shadow: 0 0 4px $blue;
            
            thead tr {
                background-color: $dark-green;
                color: set-text-color($dark-green);
                text-align: left;
                font-weight: bold;
            }

            th {
                width: 8vw;
                line-height: 1.2;
                height: 3rem;
                padding: 0.5rem 0.2rem 0 0.2rem;
                border-left: 1px solid $light-gray;
            }

            tbody tr {
                background-color: white;
                color: set-text-color(white);
                text-align: left;
                border: 1px solid $light-gray;

                th, td {
                    height: 3rem;
                    padding: 0.5rem;
                    border: 1px solid $light-gray;

                    ul {
                        list-style: none;
                        line-height: 1.2;

                    }
                }
            }
        }
    }
}


.tc-text {
    margin: 0.8rem 0;
    font-weight: lighter;
    font-size: 12px;
    color: understate-text-color(white);
}

caption {
    display: none;
}

.page-header {
    color: $orange;
    margin: 3rem 0 0 0;
}

.table-header {
    margin: 1.2rem 0 0 0;
    font-size: 20px;
}