@import "./config";
@import "./main";
@import './react-table';

.banking-accounts-wrapper {
    display: flex;

    flex-direction: column;
    background: $white;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin-top: 7.5em;
    align-items: center;
    text-align: center;

    h3 {
        margin-top: 0.8em;
    }
}

.text-box-left {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    text-align: left;

    .tc-text {
        margin-top: 0.8em;
    }
}