@import "./config";
@import "./main";

.blog-wrapper {
    position: relative;
    display: flex;

    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        padding-top: 5.1em;
        width: 100vw;
        height: 12em;

        text-align: center;
        color: white;
        background-color: $blue;

        h2 {
            font-size: 50rem;
        }
    }

    .wrapper-width-60 {
        height: auto;
        width: 40%;

        border: 1px solid $light-gray;
        align-items: center;

        h3,
        p,
        small {
            padding: 0.5em;
        }
    }

    .blog-post {
        width: 40vw;


        @include transition-ease;

        .lazy-load-image-loaded {
            img {
                width: 39.9vw;
            }
        }

    }

    .blog-nav {
        width: 20vw;
    }
}