@import "./config";
@import "./main";

.footer-wrapper {
  &_main {
    display: flex;
    flex-direction: column;

    background-color: $green;
    width: 100vw;
    height: auto;
  }

  &.flex_col {
    text-align: left;
    margin-top: 30px;
    line-height: 1.8;

    .social-icons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      margin-right: 95px;

      .social-icons {
        margin: 0 10px;
        font-size: 23px;
      }
    }
  }

  &.flex_row {
    justify-content: space-around;
  }

  &_copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    width: 90%;
    height: auto;
    margin: 1rem auto;

    &_text {
      ::before {
        background-color: black;
        content: "";
        display: block;
        width: auto;
        height: 2px;
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: smaller;
      text-align: justify;
      padding-bottom: 1rem;
    }
  }
}

.footer_link {
  padding-top: 5px;
}

a {
  color: set-text-color($white);
  text-decoration: none;
}