@import "./config";
@import "./main";

.loading-page-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.loading-animation {
    position: absolute;

    color: $orange;
    height: 500px;
    width: 500px;
    border-radius: 50%;

    animation: animated-logo 500ms 0ms infinite ease-in;
}

.animated-logo {

    stroke-dasharray: 100;
    stroke-dashoffset: 0;

    animation: stroke 5s ease-in-out;
}