@import "./config";
@import "./main";


.loading-page-wrapper {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 1;

    z-index: 3;

    &.hiding {
        opacity: 0;
        transition: 300ms 1200ms ease-in;
    }

    &.hide {
        display: none;

    }

    .loading-animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loading-text {
        padding-top: 0.8em;
        color: $orange;
    }
}