@import "./config";
@import "./main";

.loading-page-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100vh;


    .loading-animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loading-text {
        padding-top: 0.8em;
        color: $orange;
    }
}