@import "./config";
@import "./main";

// Style Navbar.js
.nav {
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 5.1em;
    opacity: 0.98;
    box-shadow: 0 2px 3px rgba(15, 15, 15, 0.13);
    background-color: $white;

    z-index: 1;

    .mobile {
        margin-bottom: 0em;
    }

    .menu-nav {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding-right: 3rem;

        .menu-nav_item {
            font-size: 20.8rem;
            padding: 0 16rem;
        }

        &_link {
            @include transition-ease;

            &.active {
                text-decoration: underline;
            }

            &:hover {
                color: $green;
                @include transition-ease;

            }
        }
    }
}

// Mobile Nav
// MobileNavLink transition keyframe
@keyframes mobile-nav-transition-enter {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes mobile-nav-transition-exit {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100vw);
        opacity: 0;
    }
}

// Style MobileNav.js
.mobile-nav {
    position: relative;
    z-index: 2;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 4em;
    overflow: hidden;
    list-style: none;

    background-color: $green;

    &_item {
        display: inline-block;
        font-size: 25.6rem;
        text-transform: uppercase;
        padding: 0 0 1.57em 2.2em;
        font-weight: 300;

        // Transition animation for .mobile-nav_item:nth-child()
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-name: mobile-nav-transition-enter;
                animation-duration: (0.55 + ($i * 0.08s));
                animation-timing-function: ease-in-out;
            }
        }
    }

    &.start-animation {
        animation-name: mobile-nav-transition-enter;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
    }

    &.end-animation {
        animation-name: mobile-nav-transition-exit;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
    }

    &.closed {
        transform: translateX(100vw);
    }
}

// Style MenuBtn.js
.menu-btn {
    position: absolute;

    right: 1.8em;
    top: 1.8em;
    height: 1.25em;
    width: 1.75em;
    cursor: pointer;
    @include transition-ease;

    z-index: 3;

    &_burger {
        position: absolute;
        right: 0;
        top: 0.5em;
        width: 1.75em;
        height: 0.1875em;
        background: set-text-color($white);
        @include transition-ease;

        &::before {
            content: "";
            position: absolute;
            top: -0.5em;
            width: 1.75em;
            height: 0.1875em;
            background: set-text-color($white);
            @include transition-ease;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0.5em;
            width: 1.25em;
            height: 0.1875em;
            background: set-text-color($white);
            @include transition-ease;
        }

        &.open {
            transform: rotate(720);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(0.3125em, 0.5em);
            }

            &::after {
                width: 1.75em;
                transform: rotate(-45deg) translate(0.1875em, -0.4375em);
            }
        }

        &.opened {
            transform: rotate(720);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(0.3125em, 0.5em);
            }

            &::after {
                width: 1.75em;
                transform: rotate(-45deg) translate(0.1875em, -0.4375em);
            }
        }
    }
}

// Style NavLogo.js
.logo-wrapper {

    padding: 0.31em 0 0.31em 3.12em;

    .logo {
        height: 4.375em;
        width: auto;
    }
}