@import "./config";

.cards-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card {
    background-color: $light-green;
    margin: 10px;
    padding: 8px;
    min-width: 210px;
    width: 210px;
    height: 300px;
    border: 2px solid $blue;
    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      &:nth-child(1) {
        background-color: $white;
        width: 10%;
        border: 2px solid $light-green;
        border-radius: 10px;
    }

}