@import "./config";
@import "./main";

.home-wrapper {
  margin-top: 10em;
  text-align: center;
  height: 100vh;

  &.mobile {
    margin-top: 0em;
  }


  h1 {
    font-size: 44.8rem;
    padding-bottom: 0.35em;
    margin-bottom: 0.35rem;
  }

}